table {
    width: 95%;
    height: 500px;
  }
  table th {
    font-size: large;
    background-color: red;
    color: white;
  }
  table td {
    font-size: large;
  }
  .heading {
    font-size: 40px;
  }
  
  .paragraph {
    font-size: x-large;
    color: blue;
  }